Version 1.0 Data

Datasets in excel: 2,3,5,6,10,11,14

Datasets in csv: 1,4,7,8,9,12,13,15

In [1]:
import pandas as pd
import os

In [2]:
pwd

'/Users/jenny/Documents/GSR/geosnap4ed/data/SEDA/SEDA_Data_Downloads/SEDA_1.0'

Data Description (#1)

This file contains **district level means in grade equivalent units**. There are multiple observations per district; one for each year, grade and subject.

In [5]:
df1 = pd.read_csv("https://stacks.stanford.edu/file/druid:db586ns4974/district%20means%20grade%20equivalent%20std%20(gs)%20by%20year%20grade%20subject%20(long%20file).csv")
df1

,leaid,leaname,fips,stateabb,year,grade,gstdmn_ela,gstdmnva_ela,gstdmn_math,gstdmnva_math
0,100002,ALABAMA YOUTH SERVICES,1.0,AL,2009,8,3.474418,0.322525,2.415660,0.401852
1,100002,ALABAMA YOUTH SERVICES,1.0,AL,2011,8,5.257723,0.324287,NaN,NaN
2,100002,ALABAMA YOUTH SERVICES,1.0,AL,2012,8,4.794953,0.316240,3.533344,0.391745
3,100005,ALBERTVILLE CITY,1.0,AL,2009,3,2.960742,0.053859,2.029059,0.032466
4,100005,ALBERTVILLE CITY,1.0,AL,2009,4,3.208953,0.061652,2.627822,0.044056
...,...,...,...,...,...,...,...,...,...,...
326241,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2011,3,2.150237,0.483208,1.484225,0.264655
326242,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2011,7,5.956963,0.439907,6.147082,0.427729
326243,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2011,8,5.048651,0.625617,5.833565,0.556818
326244,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2012,4,0.409133,0.620053,1.555817,0.343286
326245,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2012,8,7.161883,0.378212,6.304624,0.376334

Data Description (#2)

This file contains **district level means in grade equivalent units**. There are multiple observations per district, one for each subject; values are averaged across years and grades.

*Missing CSV; available in Stata and Excel*

In [24]:
df2 = pd.read_excel('#2_district_level_grade_equivalent_units.xlsx', 'pooled year and grade')
df2

,nces district id,education agency name,fips state code,location state,Pooled District Mean in math: grade equivalent std (gs),grade slope in math: grade equivalent std (gs),cohort slope in math: grade equivalent std (gs),Pooled District Mean in ela: grade equivalent std (gs),grade slope in ela: grade equivalent std (gs),cohort slope in ela: grade equivalent std (gs),Pooled District Mean SE in math: grade equivalent std (gs),grade slope SE in math: grade equivalent std (gs),cohort slope SE in math: grade equivalent std (gs),Pooled District Mean SE in ela: grade equivalent std (gs),grade slope SE in ela: grade equivalent std (gs),cohort slope SE in ela: grade equivalent std (gs)
0,100002,ALABAMA YOUTH SERVICES,1.0,AL,-3.3925,0.7332,0.1426,-3.2381,1.0037,0.0986,0.4101,0.1520,0.1061,0.4255,0.1296,0.0814
1,100005,ALBERTVILLE CITY,1.0,AL,-0.8859,0.8394,0.0807,-0.6346,0.8940,0.0518,0.0685,0.0538,0.0399,0.0696,0.0492,0.0344
2,100006,MARSHALL COUNTY,1.0,AL,-0.4129,1.0130,0.1786,-0.2136,1.0131,0.1352,0.0679,0.0530,0.0399,0.0692,0.0489,0.0344
3,100007,HOOVER CITY,1.0,AL,0.2718,1.2163,0.0390,1.1067,1.1014,0.0382,0.0636,0.0512,0.0382,0.0675,0.0478,0.0335
4,100008,MADISON CITY,1.0,AL,0.7286,1.3573,0.1076,1.8336,1.0915,0.1100,0.0675,0.0538,0.0407,0.0797,0.0516,0.0369
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12194,5900192,GILA CROSSING COMMUNITY SCHOOL,59.0,AR,-4.9809,0.9676,0.2456,-6.3665,1.1674,0.1233,0.1321,0.0941,0.0714,0.1192,0.0763,0.0563
12195,5900193,SEBA DALKAI BOARDING SCHOOL,59.0,AR,-4.5017,0.8682,0.1139,-4.9528,1.1678,0.0571,0.8148,0.1851,0.1157,0.7712,0.1285,0.0887
12196,5900194,BOGUE CHITTO ELEMENTARY SCHOOL,59.0,MS,-4.6021,0.8741,0.1532,-4.9900,1.1518,0.0859,0.2791,0.1429,0.1047,0.2850,0.1099,0.0813
12197,5900195,SKY CITY COMMUNITY SCHOOL,59.0,NM,-5.1736,0.9796,0.3609,-5.7386,1.1957,0.2396,0.1972,0.1200,0.0924,0.1903,0.0951,0.0709
12198,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,-1.5150,0.9009,-0.0432,-1.4886,0.9868,-0.0322,0.2166,0.1294,0.1017,0.2429,0.1067,0.0782

Data Description (#3)

This file contains **district level means in grade equivalent units**. There is one observations per district; values are averaged across years, grades and subjects.

*Missing CSV; available in Stata and Excel*

In [28]:
df3 = pd.read_excel('#3_district_level_grade_equivalent_units.xlsx')
df3

,nces district id,education agency name,fips state code,location state,"average test score, math/ela pooled, in grade equiv",grade slope pooled: grade equivalent std (gs),cohort slope pooled: grade equivalent std (gs),subject slope pooled: grade equivalent std (gs),se(mean_poolgs),grade slope SE pooled: grade equivalent std (gs),cohort slope SE pooled: grade equivalent std (gs),subject slope SE pooled: grade equivalent std (gs)
0,100002,ALABAMA YOUTH SERVICES,1.0,AL,-3.1866,0.8564,0.1169,-0.3467,0.3829,0.1339,0.0913,0.3439
1,100005,ALBERTVILLE CITY,1.0,AL,-0.7590,0.8621,0.0617,-0.2495,0.0519,0.0444,0.0341,0.1006
2,100006,MARSHALL COUNTY,1.0,AL,-0.3122,1.0091,0.1529,-0.2018,0.0516,0.0440,0.0341,0.0998
3,100007,HOOVER CITY,1.0,AL,0.6883,1.1558,0.0359,-0.8372,0.0495,0.0427,0.0329,0.0961
4,100008,MADISON CITY,1.0,AL,1.2728,1.2270,0.1047,-1.1156,0.0553,0.0459,0.0362,0.1067
...,...,...,...,...,...,...,...,...,...,...,...,...
12194,5900192,GILA CROSSING COMMUNITY SCHOOL,59.0,AR,-5.6459,1.0678,0.1734,1.4274,0.0949,0.0771,0.0616,0.1654
12195,5900193,SEBA DALKAI BOARDING SCHOOL,59.0,AR,-4.6349,1.0675,0.1002,0.5922,0.8112,0.1475,0.0997,0.3970
12196,5900194,BOGUE CHITTO ELEMENTARY SCHOOL,59.0,MS,-4.7675,1.0179,0.1229,0.5567,0.2385,0.1191,0.0913,0.2946
12197,5900195,SKY CITY COMMUNITY SCHOOL,59.0,NM,-5.4404,1.0874,0.2955,0.6315,0.1528,0.0984,0.0787,0.2368
12198,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,-1.4988,0.9405,-0.0351,-0.0456,0.1877,0.1106,0.0882,0.2766

Data Description (#4)

This file contains **district level means in constant population standard deviation units**. There are multiple observations per district; one for each year, grade and subject.

In [6]:
df4 = pd.read_csv("https://stacks.stanford.edu/file/druid:db586ns4974/district%20means%20grade-subject%20std%20(cs)%20by%20year%20grade%20subject%20(long%20file).csv")
df4

,leaid,leaname,fips,stateabb,year,grade,cstdmn_ela,cstdmnva_ela,cstdmn_math,cstdmnva_math
0,100002,ALABAMA YOUTH SERVICES,1.0,AL,2009,8,-1.507509,0.035498,-1.670326,0.035928
1,100002,ALABAMA YOUTH SERVICES,1.0,AL,2011,8,-0.915880,0.035692,NaN,NaN
2,100002,ALABAMA YOUTH SERVICES,1.0,AL,2012,8,-1.069408,0.034807,-1.336129,0.035024
3,100005,ALBERTVILLE CITY,1.0,AL,2009,3,-0.007720,0.005053,-0.384650,0.005112
4,100005,ALBERTVILLE CITY,1.0,AL,2009,4,-0.243728,0.005966,-0.510732,0.006111
...,...,...,...,...,...,...,...,...,...,...
326241,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2011,3,-0.255986,0.045338,-0.600852,0.041675
326242,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2011,7,-0.344267,0.046848,-0.268624,0.042310
326243,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2011,8,-0.985242,0.068858,-0.648343,0.049783
326244,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2012,4,-1.114705,0.060004,-0.910004,0.047621
326245,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2012,8,-0.284157,0.041628,-0.507492,0.033647

Data Description (#5)

This file contains **district level means in constant population standard deviation units**. There are multiple observations per district; one for each subject; values are averaged across years and grades.

Missing CSV; available in Stata and Excel

In [30]:
df5 = pd.read_excel("#5_district_level_means_in _constant_pop.xlsx")
df5

,nces district id,education agency name,fips state code,location state,Pooled District Mean in math: grade-subject std (cs),grade slope in math: grade-subject std (cs),cohort slope in math: grade-subject std (cs),Pooled District Mean in ela: grade-subject std (cs),grade slope in ela: grade-subject std (cs),cohort slope in ela: grade-subject std (cs),Pooled District Mean SE in math: grade-subject std (cs),grade slope SE in math: grade-subject std (cs),cohort slope SE in math: grade-subject std (cs),Pooled District Mean SE in ela: grade-subject std (cs),grade slope SE in ela: grade-subject std (cs),cohort slope SE in ela: grade-subject std (cs)
0,100002,ALABAMA YOUTH SERVICES,1.0,AL,-1.1275,-0.0281,0.0499,-1.0262,-0.0188,0.0318,0.1473,0.0543,0.0363,0.1347,0.0400,0.0255
1,100005,ALBERTVILLE CITY,1.0,AL,-0.2931,-0.0368,0.0283,-0.2059,-0.0378,0.0172,0.0231,0.0183,0.0135,0.0227,0.0158,0.0109
2,100006,MARSHALL COUNTY,1.0,AL,-0.1341,0.0135,0.0620,-0.0709,0.0015,0.0433,0.0230,0.0180,0.0136,0.0226,0.0157,0.0109
3,100007,HOOVER CITY,1.0,AL,0.0806,0.0721,0.0143,0.3525,0.0367,0.0127,0.0213,0.0173,0.0129,0.0221,0.0153,0.0106
4,100008,MADISON CITY,1.0,AL,0.2315,0.1134,0.0386,0.5829,0.0374,0.0355,0.0227,0.0182,0.0138,0.0259,0.0165,0.0116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12194,5900192,GILA CROSSING COMMUNITY SCHOOL,59.0,AR,-1.6978,0.0874,0.0855,-2.0284,0.0198,0.0399,0.0441,0.0319,0.0246,0.0385,0.0243,0.0178
12195,5900193,SEBA DALKAI BOARDING SCHOOL,59.0,AR,-1.5242,0.0418,0.0400,-1.5658,0.0265,0.0185,0.2775,0.0579,0.0401,0.2476,0.0416,0.0281
12196,5900194,BOGUE CHITTO ELEMENTARY SCHOOL,59.0,MS,-1.5729,0.0464,0.0533,-1.5907,0.0210,0.0273,0.0926,0.0475,0.0363,0.0918,0.0356,0.0257
12197,5900195,SKY CITY COMMUNITY SCHOOL,59.0,NM,-1.7667,0.0906,0.1254,-1.8325,0.0296,0.0761,0.0659,0.0404,0.0320,0.0611,0.0303,0.0225
12198,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,-0.5205,-0.0052,-0.0152,-0.4756,-0.0139,-0.0103,0.0745,0.0441,0.0352,0.0774,0.0336,0.0247

Data Description(#6)

This file contains **district level means in constant population standard deviation units**. There is one observations per district; values are averaged across years, grades and subjects.

Missing CSV; available in Stata and Excel

In [32]:
df6 = pd.read_excel("#6_district_level_means_in_constant_pop.xlsx")
df6

,nces district id,education agency name,fips state code,location state,"average test score, math/ela pooled, in constant population SD units",grade slope pooled: grade-subject std (cs),cohort slope pooled: grade-subject std (cs),subject slope pooled: grade-subject std (cs),se(mean_poolcs),grade slope SE pooled: grade-subject std (cs),cohort slope SE pooled: grade-subject std (cs),subject slope SE pooled: grade-subject std (cs)
0,100002,ALABAMA YOUTH SERVICES,1.0,AL,-1.0804,-0.0203,0.0399,-0.1194,0.1321,0.0450,0.0301,0.1106
1,100005,ALBERTVILLE CITY,1.0,AL,-0.2494,-0.0393,0.0209,-0.0875,0.0169,0.0145,0.0112,0.0329
2,100006,MARSHALL COUNTY,1.0,AL,-0.1025,0.0062,0.0512,-0.0645,0.0168,0.0144,0.0111,0.0326
3,100007,HOOVER CITY,1.0,AL,0.2174,0.0528,0.0124,-0.2718,0.0161,0.0139,0.0107,0.0313
4,100008,MADISON CITY,1.0,AL,0.4085,0.0749,0.0362,-0.3523,0.0180,0.0150,0.0118,0.0347
...,...,...,...,...,...,...,...,...,...,...,...,...
12194,5900192,GILA CROSSING COMMUNITY SCHOOL,59.0,AR,-1.8682,0.0460,0.0576,0.3019,0.0312,0.0253,0.0204,0.0543
12195,5900193,SEBA DALKAI BOARDING SCHOOL,59.0,AR,-1.5112,0.0434,0.0318,0.0540,0.2577,0.0467,0.0332,0.1332
12196,5900194,BOGUE CHITTO ELEMENTARY SCHOOL,59.0,MS,-1.5820,0.0347,0.0411,0.0071,0.0779,0.0389,0.0304,0.0963
12197,5900195,SKY CITY COMMUNITY SCHOOL,59.0,NM,-1.7983,0.0543,0.1001,0.0406,0.0502,0.0322,0.0261,0.0780
12198,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,-0.4971,-0.0101,-0.0122,-0.0426,0.0620,0.0364,0.0293,0.0898

Data Description (#7)

This file contains **district level means in NAEP-referenced units**. Estimates are comparable between states. There are multiple observations per district; one for each year, grade and subject.

In [7]:
df7 = pd.read_csv("https://stacks.stanford.edu/file/druid:db586ns4974/district%20means%20national-referenced%20by%20year%20grade%20subject%20(long%20file).csv")
df7

,leaid,leaname,fips,stateabb,year,grade,mean_link_ela,se_link_ela,mean_link_math,se_link_math
0,100002,ALABAMA YOUTH SERVICES,1.0,AL,2009,8,210.54736,6.723581,220.66982,7.064998
1,100002,ALABAMA YOUTH SERVICES,1.0,AL,2011,8,231.66013,6.741922,NaN,NaN
2,100002,ALABAMA YOUTH SERVICES,1.0,AL,2012,8,226.18134,6.657756,233.12637,6.975585
3,100005,ALBERTVILLE CITY,1.0,AL,2009,3,204.46590,2.747565,216.36116,2.008145
4,100005,ALBERTVILLE CITY,1.0,AL,2009,4,207.40450,2.939638,223.03436,2.339266
...,...,...,...,...,...,...,...,...,...,...
326241,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2011,3,194.87024,8.229747,210.28900,5.733483
326242,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2011,7,239.93851,7.852352,262.25641,7.288920
326243,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2011,8,229.18489,9.364260,258.76227,8.316400
326244,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2012,4,174.25711,9.322528,211.08690,6.529908
326245,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2012,8,254.20369,7.280929,264.01221,6.837001

Data Description (#8)

This file contains **district level means in state-referenced units**. Estimates are comparable within states. There are multiple observations per district; one for each year, grade and subject.

In [8]:
df8 = pd.read_csv("https://stacks.stanford.edu/file/druid:db586ns4974/district%20means%20state-referenced%20by%20year%20grade%20subject%20(long%20file).csv") 
df8

,leaid,leaname,fips,stateabb,year,grade,mean_edfa_ela,se_edfa_ela,mean_edfa_math,se_edfa_math
0,100002,ALABAMA YOUTH SERVICES,1.0,AL,2009,8,-1.137548,0.172760,-1.198170,0.175266
1,100002,ALABAMA YOUTH SERVICES,1.0,AL,2011,8,-0.685467,0.176441,NaN,NaN
2,100002,ALABAMA YOUTH SERVICES,1.0,AL,2012,8,-0.828021,0.175245,-0.931316,0.179576
3,100005,ALBERTVILLE CITY,1.0,AL,2009,3,-0.026889,0.061875,-0.029519,0.058478
4,100005,ALBERTVILLE CITY,1.0,AL,2009,4,-0.197201,0.066438,-0.132932,0.064423
...,...,...,...,...,...,...,...,...,...,...
326241,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2011,3,-0.370231,0.216699,-0.816513,0.218525
326242,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2011,7,-0.361323,0.214720,-0.331210,0.211697
326243,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2011,8,-0.979856,0.260879,-0.703319,0.229291
326244,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2012,4,-1.201575,0.234363,-1.106224,0.218724
326245,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2012,8,-0.344530,0.207423,-0.561039,0.187147

Data Description (#9)

This file contains **district level white-black and white-Hispanic achievement gaps**. There are multiple observations per district; one for each year, grade and subject.

In [10]:
df9 = pd.read_csv("https://stacks.stanford.edu/file/druid:db586ns4974/district%20gaps%20by%20year%20grade%20subject%20(long%20file).csv")
df9

,leaid,leaname,fips,stateabb,year,grade,gapblk_ela,gapseblk_ela,gaphsp_ela,gapsehsp_ela,gapblk_math,gapseblk_math,gaphsp_math,gapsehsp_math
0,100005,ALBERTVILLE CITY,1,AL,2009,3,NaN,NaN,0.495028,0.144482,NaN,NaN,0.359011,0.142677
1,100005,ALBERTVILLE CITY,1,AL,2009,4,NaN,NaN,0.645853,0.131344,NaN,NaN,0.385385,0.128722
2,100005,ALBERTVILLE CITY,1,AL,2009,5,NaN,NaN,0.877928,0.141010,NaN,NaN,0.537650,0.144171
3,100005,ALBERTVILLE CITY,1,AL,2009,6,NaN,NaN,0.662599,0.165949,NaN,NaN,0.457464,0.158139
4,100005,ALBERTVILLE CITY,1,AL,2009,7,NaN,NaN,1.062303,0.158241,NaN,NaN,0.849210,0.162989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100700,7200030,PUERTO RICO DEPARTMENT OF EDUCATION,72,PR,2013,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100701,7200030,PUERTO RICO DEPARTMENT OF EDUCATION,72,PR,2013,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100702,7200030,PUERTO RICO DEPARTMENT OF EDUCATION,72,PR,2013,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100703,7800030,SAINT THOMAS - SAINT JOHN SCHOOL DISTRICT,78,VI,2012,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100704,7800030,SAINT THOMAS - SAINT JOHN SCHOOL DISTRICT,78,VI,2013,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Data Description (#10)

This file contains **district level white-black and white-Hispanic achievement gaps**. There are multiple observations per district; one for each subject; values are averaged across years and grades.

Missing CSV; available in Stata and Excel

In [33]:
df10 = pd.read_excel("#10_district_level_white-black.xlsx")
df10

,nces district id,education agency name,fips state code,location state,white-black gap in ela,se of white-black gap in ela,white-hispanic gap in ela,se of white-hispanic gap in ela,white-black gap in math,se of white-black gap in math,white-hispanic gap in math,se of white-hispanic gap in math
0,100005,ALBERTVILLE CITY,1,AL,NaN,NaN,0.6824,0.0337,NaN,NaN,0.3689,0.0286
1,100006,MARSHALL COUNTY,1,AL,NaN,NaN,0.4112,0.0301,NaN,NaN,0.0920,0.0421
2,100007,HOOVER CITY,1,AL,0.9554,0.0207,0.9644,0.0536,0.9203,0.0193,0.9190,0.0339
3,100008,MADISON CITY,1,AL,0.9539,0.0323,0.7358,0.1305,0.9143,0.0268,0.7232,0.1077
4,100011,LEEDS CITY,1,AL,0.6568,0.0515,0.5845,0.1626,0.5905,0.0527,0.3756,0.1744
...,...,...,...,...,...,...,...,...,...,...,...,...
4475,5605302,SWEETWATER COUNTY SCHOOL DISTRICT #1,56,WY,NaN,NaN,0.3801,0.0334,NaN,NaN,0.3575,0.0328
4476,5605695,SHERIDAN COUNTY SCHOOL DISTRICT #2,56,WY,NaN,NaN,-0.0584,0.2428,NaN,NaN,NaN,NaN
4477,5605762,SWEETWATER COUNTY SCHOOL DISTRICT #2,56,WY,NaN,NaN,0.3875,0.0444,NaN,NaN,0.3633,0.0467
4478,5605830,TETON COUNTY SCHOOL DISTRICT #1,56,WY,NaN,NaN,1.1909,0.0504,NaN,NaN,1.1197,0.0589
4479,5606240,WASHAKIE COUNTY SCHOOL DISTRICT #1,56,WY,NaN,NaN,0.4568,0.0620,NaN,NaN,0.4849,0.0827

Data Description (#11)

This file contains **district level white-black and white-Hispanic achievement gaps**. There is one observations per district; values are averaged across years, grades and subjects.

Missing CSV; available in Stata and Excel

In [34]:
df11 = pd.read_excel("#11_district_level_white-black.xlsx")
df11

,nces district id,education agency name,fips state code,location state,white-black gap,se of white-black gap,white-hispanic gap,se of white-hispanic gap
0,100005,ALBERTVILLE CITY,1,AL,NaN,NaN,0.5298,0.0224
1,100006,MARSHALL COUNTY,1,AL,NaN,NaN,0.2495,0.0248
2,100007,HOOVER CITY,1,AL,0.9385,0.0137,0.9520,0.0298
3,100008,MADISON CITY,1,AL,0.9371,0.0217,0.7238,0.0839
4,100011,LEEDS CITY,1,AL,0.6230,0.0361,0.5923,0.1567
...,...,...,...,...,...,...,...,...
4475,5605302,SWEETWATER COUNTY SCHOOL DISTRICT #1,56,WY,NaN,NaN,0.3670,0.0236
4476,5605695,SHERIDAN COUNTY SCHOOL DISTRICT #2,56,WY,NaN,NaN,-0.0584,0.2428
4477,5605762,SWEETWATER COUNTY SCHOOL DISTRICT #2,56,WY,NaN,NaN,0.3768,0.0313
4478,5605830,TETON COUNTY SCHOOL DISTRICT #1,56,WY,NaN,NaN,1.1530,0.0381
4479,5606240,WASHAKIE COUNTY SCHOOL DISTRICT #1,56,WY,NaN,NaN,0.4686,0.0475

Data Description (#12)

This file contains **district level covariates (socioeconomic, demographic, school level data)**. There are multiple observations per district; one for each year and grade.

In [35]:
df12 = pd.read_csv("https://stacks.stanford.edu/file/druid:db586ns4974/district%20covariates%20by%20year%20and%20grade%20(long%20file).csv")
df12

,leaid,leaname,year,grade,fips,stateabb,metroid,metromicro,czid,countyid,...,sesblk,seshsp,sesallimp1,sesallimp2,seswhtimp1,seswhtimp2,sesblkimp1,sesblkimp2,seshspimp1,seshspimp2
0,100005,ALBERTVILLE CITY,2009,3.0,1.0,AL,10700.0,2.0,558.0,1095.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
1,100005,ALBERTVILLE CITY,2009,4.0,1.0,AL,10700.0,2.0,558.0,1095.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
2,100005,ALBERTVILLE CITY,2009,5.0,1.0,AL,10700.0,2.0,558.0,1095.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
3,100005,ALBERTVILLE CITY,2009,6.0,1.0,AL,10700.0,2.0,558.0,1095.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
4,100005,ALBERTVILLE CITY,2009,7.0,1.0,AL,10700.0,2.0,558.0,1095.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461020,5606240,WASHAKIE COUNTY SCHOOL DISTRICT #1,2014,4.0,56.0,WY,NaN,NaN,618.0,56043.0,...,NaN,-0.463179,0,0,0,0,0,0,0,0
461021,5606240,WASHAKIE COUNTY SCHOOL DISTRICT #1,2014,5.0,56.0,WY,NaN,NaN,618.0,56043.0,...,NaN,-0.463179,0,0,0,0,0,0,0,0
461022,5606240,WASHAKIE COUNTY SCHOOL DISTRICT #1,2014,6.0,56.0,WY,NaN,NaN,618.0,56043.0,...,NaN,-0.463179,0,0,0,0,0,0,0,0
461023,5606240,WASHAKIE COUNTY SCHOOL DISTRICT #1,2014,7.0,56.0,WY,NaN,NaN,618.0,56043.0,...,NaN,-0.463179,0,0,0,0,0,0,0,0
461024,5606240,WASHAKIE COUNTY SCHOOL DISTRICT #1,2014,8.0,56.0,WY,NaN,NaN,618.0,56043.0,...,NaN,-0.463179,0,0,0,0,0,0,0,0

Data Description(#13)

This file contains **district level covariates (socioeconomic, demographic, school level data)**. There are multiple observations per district; one for each year.

In [36]:
df13 = pd.read_csv("https://stacks.stanford.edu/file/druid:db586ns4974/district%20covariates%20by%20year.csv")
df13

,leaid,leaname,year,fips,stateabb,metroid,metromicro,czid,countyid,cdcode,...,sesblk,seshsp,sesallimp1,sesallimp2,seswhtimp1,seswhtimp2,sesblkimp1,sesblkimp2,seshspimp1,seshspimp2
0,100005,ALBERTVILLE CITY,2009,1.0,AL,10700.0,2.0,558.0,1095.0,104.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
1,100005,ALBERTVILLE CITY,2010,1.0,AL,10700.0,2.0,558.0,1095.0,104.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
2,100005,ALBERTVILLE CITY,2011,1.0,AL,10700.0,2.0,558.0,1095.0,104.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
3,100005,ALBERTVILLE CITY,2012,1.0,AL,10700.0,2.0,558.0,1095.0,104.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
4,100005,ALBERTVILLE CITY,2013,1.0,AL,10700.0,2.0,558.0,1095.0,104.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80030,5606240,WASHAKIE COUNTY SCHOOL DISTRICT #1,2010,56.0,WY,NaN,NaN,618.0,56043.0,5600.0,...,NaN,-0.463179,0,0,0,0,0,0,0,0
80031,5606240,WASHAKIE COUNTY SCHOOL DISTRICT #1,2011,56.0,WY,NaN,NaN,618.0,56043.0,5600.0,...,NaN,-0.463179,0,0,0,0,0,0,0,0
80032,5606240,WASHAKIE COUNTY SCHOOL DISTRICT #1,2012,56.0,WY,NaN,NaN,618.0,56043.0,5600.0,...,NaN,-0.463179,0,0,0,0,0,0,0,0
80033,5606240,WASHAKIE COUNTY SCHOOL DISTRICT #1,2013,56.0,WY,NaN,NaN,618.0,56043.0,5600.0,...,NaN,-0.463179,0,0,0,0,0,0,0,0
80034,5606240,WASHAKIE COUNTY SCHOOL DISTRICT #1,2014,56.0,WY,NaN,NaN,618.0,56043.0,5600.0,...,NaN,-0.463179,0,0,0,0,0,0,0,0

Data Description(#14)

This file contains **district level covariates (socioeconomic, demographic, school level data)**. There is one observation per district.

Missing CSV; available in Stata and Excel

In [37]:
df14 = pd.read_excel("#14_district_level_covariates.xlsx") 
df14

,leaid,LEA Name,Fips State Code,State Abbreviation,Metropolitan Area Code (2009 Definition),"Status, 1=metro 2=micro","Commuting Zone ID, 2000 Definition",county code,Congressional District Code,city/urban locale,...,standardized ses composite (blk),standardized ses composite (hsp),"sesall imputed flag, 5 variables","sesall imputed flag, 3 variables","seswht imputed flag, 5 variables","seswht imputed flag, 3 variables","sesblk imputed flag, 5 variables","sesblk imputed flag, 3 variables","seshsp imputed flag, 5 variables","seshsp imputed flag, 3 variables"
0,100005,ALBERTVILLE CITY,1.0,AL,10700.0,2.0,558.0,1095.0,104.0,0.0,...,-3.6226,-2.3087,0,0,0,0,0,0,0,0
1,100006,MARSHALL COUNTY,1.0,AL,10700.0,2.0,558.0,1095.0,104.0,0.0,...,0.5274,-0.5816,0,0,0,0,0,0,0,0
2,100007,HOOVER CITY,1.0,AL,13820.0,1.0,21.0,1073.0,106.0,0.0,...,0.0718,-0.5115,0,0,0,0,0,0,0,0
3,100008,MADISON CITY,1.0,AL,26620.0,1.0,120.0,1089.0,105.0,0.0,...,-0.1675,0.1024,0,0,0,0,0,0,0,0
4,100011,LEEDS CITY,1.0,AL,13820.0,1.0,21.0,1073.0,106.0,0.0,...,-2.5721,-2.3694,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13398,5605762,SWEETWATER COUNTY SCHOOL DISTRICT #2,56.0,WY,40540.0,2.0,394.0,56037.0,5600.0,0.0,...,NaN,1.2121,0,0,0,0,0,0,0,0
13399,5605820,WASHAKIE COUNTY SCHOOL DISTRICT #2,56.0,WY,NaN,NaN,618.0,56043.0,5600.0,0.0,...,NaN,NaN,0,0,0,0,0,0,0,0
13400,5605830,TETON COUNTY SCHOOL DISTRICT #1,56.0,WY,27220.0,2.0,234.0,56039.0,5600.0,0.0,...,NaN,0.6970,0,0,0,0,0,0,0,0
13401,5606090,WESTON COUNTY SCHOOL DISTRICT #7,56.0,WY,NaN,NaN,445.0,56045.0,5600.0,0.0,...,NaN,2.6658,0,0,0,0,0,0,0,0
13402,5606240,WASHAKIE COUNTY SCHOOL DISTRICT #1,56.0,WY,NaN,NaN,618.0,56043.0,5600.0,0.0,...,NaN,-0.4632,0,0,0,0,0,0,0,0

**Error with (#15)**

Data Description (#15)

This file contains a **unique school identifier, an identifier indicating its NCES ID (the district to which it legally belongs), and the district in which it is included in our estimates**. There is one observation per school.

In [14]:
df15 = pd.read_csv("https://stacks.stanford.edu/file/druid:db586ns4974/school_leaid_crosswalk.csv")
df15

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 4: invalid continuation byte