Version 1.0

In [2]:
import pandas as pd 
import os

In [4]:
pwd

'/Users/jenny/Documents/GSR/geosnap4ed/data/SEDA/SEDA_Data_Downloads/1.0_SEDA'

Data description (#1) 

This file contains **district level means in grade equivalent units**. There are multiple observations per district; one for each year, grade and subject.

In [5]:
variable1 = pd.read_csv("https://stacks.stanford.edu/file/druid:db586ns4974/district%20means%20grade%20equivalent%20std%20(gs)%20by%20year%20grade%20subject%20(long%20file).csv")
variable1.head()

,leaid,leaname,fips,stateabb,year,grade,gstdmn_ela,gstdmnva_ela,gstdmn_math,gstdmnva_math
0,100002,ALABAMA YOUTH SERVICES,1.0,AL,2009,8,3.474418,0.322525,2.415660,0.401852
1,100002,ALABAMA YOUTH SERVICES,1.0,AL,2011,8,5.257723,0.324287,NaN,NaN
2,100002,ALABAMA YOUTH SERVICES,1.0,AL,2012,8,4.794953,0.316240,3.533344,0.391745
3,100005,ALBERTVILLE CITY,1.0,AL,2009,3,2.960742,0.053859,2.029059,0.032466
4,100005,ALBERTVILLE CITY,1.0,AL,2009,4,3.208953,0.061652,2.627822,0.044056

In [7]:
df1 = pd.read_csv("https://stacks.stanford.edu/file/druid:db586ns4974/district%20means%20grade%20equivalent%20std%20(gs)%20by%20year%20grade%20subject%20(long%20file).csv")
df1

,leaid,leaname,fips,stateabb,year,grade,gstdmn_ela,gstdmnva_ela,gstdmn_math,gstdmnva_math
0,100002,ALABAMA YOUTH SERVICES,1.0,AL,2009,8,3.474418,0.322525,2.415660,0.401852
1,100002,ALABAMA YOUTH SERVICES,1.0,AL,2011,8,5.257723,0.324287,NaN,NaN
2,100002,ALABAMA YOUTH SERVICES,1.0,AL,2012,8,4.794953,0.316240,3.533344,0.391745
3,100005,ALBERTVILLE CITY,1.0,AL,2009,3,2.960742,0.053859,2.029059,0.032466
4,100005,ALBERTVILLE CITY,1.0,AL,2009,4,3.208953,0.061652,2.627822,0.044056
...,...,...,...,...,...,...,...,...,...,...
326241,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2011,3,2.150237,0.483208,1.484225,0.264655
326242,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2011,7,5.956963,0.439907,6.147082,0.427729
326243,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2011,8,5.048651,0.625617,5.833565,0.556818
326244,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2012,4,0.409133,0.620053,1.555817,0.343286
326245,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2012,8,7.161883,0.378212,6.304624,0.376334

Data description (#2)

This file contains **district level means in grade equivalent units**. There are multiple observations per district, one for each subject; values are averaged across years and grades.

*Missing CSV; available in Stata and Excel*

Data description(#3)

This file contains **district level means in grade equivalent units**. There is one observations per district; values are averaged across years, grades and subjects.

*Missing CSV; available in Stata and Excel*

Data description(#4)

This file contains **district level means in constant population standard deviation units**. There are multiple observations per district; one for each year, grade and subject.

In [10]:
variable4 = pd.read_csv("https://stacks.stanford.edu/file/druid:db586ns4974/district%20means%20grade-subject%20std%20(cs)%20by%20year%20grade%20subject%20(long%20file).csv")
variable4.head()

,leaid,leaname,fips,stateabb,year,grade,cstdmn_ela,cstdmnva_ela,cstdmn_math,cstdmnva_math
0,100002,ALABAMA YOUTH SERVICES,1.0,AL,2009,8,-1.507509,0.035498,-1.670326,0.035928
1,100002,ALABAMA YOUTH SERVICES,1.0,AL,2011,8,-0.915880,0.035692,NaN,NaN
2,100002,ALABAMA YOUTH SERVICES,1.0,AL,2012,8,-1.069408,0.034807,-1.336129,0.035024
3,100005,ALBERTVILLE CITY,1.0,AL,2009,3,-0.007720,0.005053,-0.384650,0.005112
4,100005,ALBERTVILLE CITY,1.0,AL,2009,4,-0.243728,0.005966,-0.510732,0.006111

In [11]:
df4 = pd.read_csv("https://stacks.stanford.edu/file/druid:db586ns4974/district%20means%20grade-subject%20std%20(cs)%20by%20year%20grade%20subject%20(long%20file).csv")
df4

,leaid,leaname,fips,stateabb,year,grade,cstdmn_ela,cstdmnva_ela,cstdmn_math,cstdmnva_math
0,100002,ALABAMA YOUTH SERVICES,1.0,AL,2009,8,-1.507509,0.035498,-1.670326,0.035928
1,100002,ALABAMA YOUTH SERVICES,1.0,AL,2011,8,-0.915880,0.035692,NaN,NaN
2,100002,ALABAMA YOUTH SERVICES,1.0,AL,2012,8,-1.069408,0.034807,-1.336129,0.035024
3,100005,ALBERTVILLE CITY,1.0,AL,2009,3,-0.007720,0.005053,-0.384650,0.005112
4,100005,ALBERTVILLE CITY,1.0,AL,2009,4,-0.243728,0.005966,-0.510732,0.006111
...,...,...,...,...,...,...,...,...,...,...
326241,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2011,3,-0.255986,0.045338,-0.600852,0.041675
326242,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2011,7,-0.344267,0.046848,-0.268624,0.042310
326243,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2011,8,-0.985242,0.068858,-0.648343,0.049783
326244,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2012,4,-1.114705,0.060004,-0.910004,0.047621
326245,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2012,8,-0.284157,0.041628,-0.507492,0.033647

Data description(#5)

This file contains **district level means in constant population standard deviation units**. There are multiple observations per district; one for each subject; values are averaged across years and grades.

Missing CSV; available in Stata and Excel

Data description (#6)

This file contains **district level means in constant population standard deviation units**. There is one observations per district; values are averaged across years, grades and subjects.

Missing CSV; available in Stata and Excel

Data description (#7)

This file contains **district level means in NAEP-referenced units**. Estimates are comparable between states. There are multiple observations per district; one for each year, grade and subject.

In [12]:
variable7 = pd.read_csv("https://stacks.stanford.edu/file/druid:db586ns4974/district%20means%20national-referenced%20by%20year%20grade%20subject%20(long%20file).csv")
variable7.head()

,leaid,leaname,fips,stateabb,year,grade,mean_link_ela,se_link_ela,mean_link_math,se_link_math
0,100002,ALABAMA YOUTH SERVICES,1.0,AL,2009,8,210.54736,6.723581,220.66982,7.064998
1,100002,ALABAMA YOUTH SERVICES,1.0,AL,2011,8,231.66013,6.741922,NaN,NaN
2,100002,ALABAMA YOUTH SERVICES,1.0,AL,2012,8,226.18134,6.657756,233.12637,6.975585
3,100005,ALBERTVILLE CITY,1.0,AL,2009,3,204.46590,2.747565,216.36116,2.008145
4,100005,ALBERTVILLE CITY,1.0,AL,2009,4,207.40450,2.939638,223.03436,2.339266

In [14]:
df7 = pd.read_csv("https://stacks.stanford.edu/file/druid:db586ns4974/district%20means%20national-referenced%20by%20year%20grade%20subject%20(long%20file).csv")
df7

,leaid,leaname,fips,stateabb,year,grade,mean_link_ela,se_link_ela,mean_link_math,se_link_math
0,100002,ALABAMA YOUTH SERVICES,1.0,AL,2009,8,210.54736,6.723581,220.66982,7.064998
1,100002,ALABAMA YOUTH SERVICES,1.0,AL,2011,8,231.66013,6.741922,NaN,NaN
2,100002,ALABAMA YOUTH SERVICES,1.0,AL,2012,8,226.18134,6.657756,233.12637,6.975585
3,100005,ALBERTVILLE CITY,1.0,AL,2009,3,204.46590,2.747565,216.36116,2.008145
4,100005,ALBERTVILLE CITY,1.0,AL,2009,4,207.40450,2.939638,223.03436,2.339266
...,...,...,...,...,...,...,...,...,...,...
326241,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2011,3,194.87024,8.229747,210.28900,5.733483
326242,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2011,7,239.93851,7.852352,262.25641,7.288920
326243,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2011,8,229.18489,9.364260,258.76227,8.316400
326244,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2012,4,174.25711,9.322528,211.08690,6.529908
326245,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2012,8,254.20369,7.280929,264.01221,6.837001

Data description (#8)

This file contains **district level means in state-referenced units**. Estimates are comparable within states. There are multiple observations per district; one for each year, grade and subject.

In [15]:
variable8 = pd.read_csv("https://stacks.stanford.edu/file/druid:db586ns4974/district%20means%20state-referenced%20by%20year%20grade%20subject%20(long%20file).csv")
variable8.head()

,leaid,leaname,fips,stateabb,year,grade,mean_edfa_ela,se_edfa_ela,mean_edfa_math,se_edfa_math
0,100002,ALABAMA YOUTH SERVICES,1.0,AL,2009,8,-1.137548,0.172760,-1.198170,0.175266
1,100002,ALABAMA YOUTH SERVICES,1.0,AL,2011,8,-0.685467,0.176441,NaN,NaN
2,100002,ALABAMA YOUTH SERVICES,1.0,AL,2012,8,-0.828021,0.175245,-0.931316,0.179576
3,100005,ALBERTVILLE CITY,1.0,AL,2009,3,-0.026889,0.061875,-0.029519,0.058478
4,100005,ALBERTVILLE CITY,1.0,AL,2009,4,-0.197201,0.066438,-0.132932,0.064423

In [16]:
df8 = pd.read_csv("https://stacks.stanford.edu/file/druid:db586ns4974/district%20means%20state-referenced%20by%20year%20grade%20subject%20(long%20file).csv")
df8

,leaid,leaname,fips,stateabb,year,grade,mean_edfa_ela,se_edfa_ela,mean_edfa_math,se_edfa_math
0,100002,ALABAMA YOUTH SERVICES,1.0,AL,2009,8,-1.137548,0.172760,-1.198170,0.175266
1,100002,ALABAMA YOUTH SERVICES,1.0,AL,2011,8,-0.685467,0.176441,NaN,NaN
2,100002,ALABAMA YOUTH SERVICES,1.0,AL,2012,8,-0.828021,0.175245,-0.931316,0.179576
3,100005,ALBERTVILLE CITY,1.0,AL,2009,3,-0.026889,0.061875,-0.029519,0.058478
4,100005,ALBERTVILLE CITY,1.0,AL,2009,4,-0.197201,0.066438,-0.132932,0.064423
...,...,...,...,...,...,...,...,...,...,...
326241,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2011,3,-0.370231,0.216699,-0.816513,0.218525
326242,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2011,7,-0.361323,0.214720,-0.331210,0.211697
326243,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2011,8,-0.979856,0.260879,-0.703319,0.229291
326244,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2012,4,-1.201575,0.234363,-1.106224,0.218724
326245,5900196,MESKWAKI SETTLEMENT SCHOOL,59.0,IA,2012,8,-0.344530,0.207423,-0.561039,0.187147

Data description (#9)

This file contains **district level white-black and white-Hispanic achievement gaps**. There are multiple observations per district; one for each year, grade and subject.

Missing CSV; available in Stata and Excel

Data description (#10)

This file contains **district level white-black and white-Hispanic achievement gaps**. There are multiple observations per district; one for each subject; values are averaged across years and grades.

Missing CSV; available in Stata and Excel

Data description (#11)

This file contains **district level covariates (socioeconomic, demographic, school level data)**. There are multiple observations per district; one for each year and grade.

In [17]:
variable11 = pd.read_csv("https://stacks.stanford.edu/file/druid:db586ns4974/district%20covariates%20by%20year%20and%20grade%20(long%20file).csv")
variable11.head()

,leaid,leaname,year,grade,fips,stateabb,metroid,metromicro,czid,countyid,...,sesblk,seshsp,sesallimp1,sesallimp2,seswhtimp1,seswhtimp2,sesblkimp1,sesblkimp2,seshspimp1,seshspimp2
0,100005,ALBERTVILLE CITY,2009,3.0,1.0,AL,10700.0,2.0,558.0,1095.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
1,100005,ALBERTVILLE CITY,2009,4.0,1.0,AL,10700.0,2.0,558.0,1095.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
2,100005,ALBERTVILLE CITY,2009,5.0,1.0,AL,10700.0,2.0,558.0,1095.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
3,100005,ALBERTVILLE CITY,2009,6.0,1.0,AL,10700.0,2.0,558.0,1095.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
4,100005,ALBERTVILLE CITY,2009,7.0,1.0,AL,10700.0,2.0,558.0,1095.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0

In [18]:
df11 = pd.read_csv("https://stacks.stanford.edu/file/druid:db586ns4974/district%20covariates%20by%20year%20and%20grade%20(long%20file).csv")
df11

,leaid,leaname,year,grade,fips,stateabb,metroid,metromicro,czid,countyid,...,sesblk,seshsp,sesallimp1,sesallimp2,seswhtimp1,seswhtimp2,sesblkimp1,sesblkimp2,seshspimp1,seshspimp2
0,100005,ALBERTVILLE CITY,2009,3.0,1.0,AL,10700.0,2.0,558.0,1095.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
1,100005,ALBERTVILLE CITY,2009,4.0,1.0,AL,10700.0,2.0,558.0,1095.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
2,100005,ALBERTVILLE CITY,2009,5.0,1.0,AL,10700.0,2.0,558.0,1095.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
3,100005,ALBERTVILLE CITY,2009,6.0,1.0,AL,10700.0,2.0,558.0,1095.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
4,100005,ALBERTVILLE CITY,2009,7.0,1.0,AL,10700.0,2.0,558.0,1095.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461020,5606240,WASHAKIE COUNTY SCHOOL DISTRICT #1,2014,4.0,56.0,WY,NaN,NaN,618.0,56043.0,...,NaN,-0.463179,0,0,0,0,0,0,0,0
461021,5606240,WASHAKIE COUNTY SCHOOL DISTRICT #1,2014,5.0,56.0,WY,NaN,NaN,618.0,56043.0,...,NaN,-0.463179,0,0,0,0,0,0,0,0
461022,5606240,WASHAKIE COUNTY SCHOOL DISTRICT #1,2014,6.0,56.0,WY,NaN,NaN,618.0,56043.0,...,NaN,-0.463179,0,0,0,0,0,0,0,0
461023,5606240,WASHAKIE COUNTY SCHOOL DISTRICT #1,2014,7.0,56.0,WY,NaN,NaN,618.0,56043.0,...,NaN,-0.463179,0,0,0,0,0,0,0,0
461024,5606240,WASHAKIE COUNTY SCHOOL DISTRICT #1,2014,8.0,56.0,WY,NaN,NaN,618.0,56043.0,...,NaN,-0.463179,0,0,0,0,0,0,0,0

Data description (#12)

This file contains **district level covariates (socioeconomic, demographic, school level data)**. There are multiple observations per district; one for each year.

In [19]:
variable12 = pd.read_csv("https://stacks.stanford.edu/file/druid:db586ns4974/district%20covariates%20by%20year.csv")
variable12.head()

,leaid,leaname,year,fips,stateabb,metroid,metromicro,czid,countyid,cdcode,...,sesblk,seshsp,sesallimp1,sesallimp2,seswhtimp1,seswhtimp2,sesblkimp1,sesblkimp2,seshspimp1,seshspimp2
0,100005,ALBERTVILLE CITY,2009,1.0,AL,10700.0,2.0,558.0,1095.0,104.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
1,100005,ALBERTVILLE CITY,2010,1.0,AL,10700.0,2.0,558.0,1095.0,104.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
2,100005,ALBERTVILLE CITY,2011,1.0,AL,10700.0,2.0,558.0,1095.0,104.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
3,100005,ALBERTVILLE CITY,2012,1.0,AL,10700.0,2.0,558.0,1095.0,104.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
4,100005,ALBERTVILLE CITY,2013,1.0,AL,10700.0,2.0,558.0,1095.0,104.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0

In [20]:
df12 = pd.read_csv("https://stacks.stanford.edu/file/druid:db586ns4974/district%20covariates%20by%20year.csv")
df12

,leaid,leaname,year,fips,stateabb,metroid,metromicro,czid,countyid,cdcode,...,sesblk,seshsp,sesallimp1,sesallimp2,seswhtimp1,seswhtimp2,sesblkimp1,sesblkimp2,seshspimp1,seshspimp2
0,100005,ALBERTVILLE CITY,2009,1.0,AL,10700.0,2.0,558.0,1095.0,104.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
1,100005,ALBERTVILLE CITY,2010,1.0,AL,10700.0,2.0,558.0,1095.0,104.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
2,100005,ALBERTVILLE CITY,2011,1.0,AL,10700.0,2.0,558.0,1095.0,104.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
3,100005,ALBERTVILLE CITY,2012,1.0,AL,10700.0,2.0,558.0,1095.0,104.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
4,100005,ALBERTVILLE CITY,2013,1.0,AL,10700.0,2.0,558.0,1095.0,104.0,...,-3.622627,-2.308673,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80030,5606240,WASHAKIE COUNTY SCHOOL DISTRICT #1,2010,56.0,WY,NaN,NaN,618.0,56043.0,5600.0,...,NaN,-0.463179,0,0,0,0,0,0,0,0
80031,5606240,WASHAKIE COUNTY SCHOOL DISTRICT #1,2011,56.0,WY,NaN,NaN,618.0,56043.0,5600.0,...,NaN,-0.463179,0,0,0,0,0,0,0,0
80032,5606240,WASHAKIE COUNTY SCHOOL DISTRICT #1,2012,56.0,WY,NaN,NaN,618.0,56043.0,5600.0,...,NaN,-0.463179,0,0,0,0,0,0,0,0
80033,5606240,WASHAKIE COUNTY SCHOOL DISTRICT #1,2013,56.0,WY,NaN,NaN,618.0,56043.0,5600.0,...,NaN,-0.463179,0,0,0,0,0,0,0,0
80034,5606240,WASHAKIE COUNTY SCHOOL DISTRICT #1,2014,56.0,WY,NaN,NaN,618.0,56043.0,5600.0,...,NaN,-0.463179,0,0,0,0,0,0,0,0

Data description (#13)

This file contains **district level covariates (socioeconomic, demographic, school level data)**. There is one observation per district.

Missing CSV; available in Stata and Excel

**Error Running (#14)**



Data description(#14)

This file contains a **unique school identifier, an identifier indicating its NCES ID (the district to which it legally belongs), and the district in which it is included in our estimates**. There is one observation per school.

In [22]:
variable14 = pd.read_csv("https://stacks.stanford.edu/file/druid:db586ns4974/school_leaid_crosswalk.csv")
variable14.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf1 in position 4: invalid continuation byte

In [ ]:
df14 = pd.read_csv("https://stacks.stanford.edu/file/druid:db586ns4974/school_leaid_crosswalk.csv")
df14